
.title{
    text-align: center;
    margin-right: 2em;
}
.sign{
    margin-bottom: 1em;
    padding-top:2em ;
    padding-bottom:2em ;
    border-radius: 10px;
    
}
.bg{
    background-color: rgb(61, 14, 100);
    color:white;
}
.form{
   margin-top:20%;
   margin-bottom: 2em;
   box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
