.label{
    color: gray;
}
.label-gender{
    margin-top: 1em;
    margin-bottom: -15px;
}
.bg-form{
    background-color: white;
    box-shadow: 5px 5px 5px black;
}
.lastName{
    margin-bottom: px;
}