.bg-img{
    background-color:rgba(39, 24, 101, 0.82);
}
.img-logo{
 margin-bottom: 2em;
    margin-top: .5em;
    opacity: .7;
    border-radius: 50px;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}
.login-btn{
    margin-bottom: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
   
}
