
.icon-menu{
    font-size: 1.69em;
    
    color: white;
    
}
.icon-footer{
    font-size: 1.5em;
    color:white;
}
h5{
    color:white;
}
.img{
   border-radius: 50%;
   width: 35px;
   height: 35px;

}
.searchbar-md .searchbar-input {
    border-radius: 25px !important;
}
