.mainx {
    height: 65px;
    width: 65px;
    font-size: 2em;
    line-height: 70px;
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    bottom: 78px;
    right: 27px;
    background-color: #00487c;
    z-index: 99;
}
.circle {
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
/*.............*/
.icon-footer{
    font-size: 1.5em;
    color:white;
}
